<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<h1>About Me</h1>
<h2>... and my new Astro site!</h2>
<body>
  <p>I am currently a software developer</p>
  <p>I want to create my own nonprofit</p>
  <p> I will graduate Tufts this year with a math major</p>
  <p> I will be returning for one more year for my masters in Data Analytics</p>
</body>